doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/main.css")
        script(src="/js/main.js" defer) 
        title= page.fileSlug

    //- preloads - - - -
    //- nav pages - -
    each nav in collections.nav
        if !(nav.url == page.url)
            link(rel="preload" as="fetch" type="text/html" href=nav.url)
    //- writings pages - -
    if page.fileSlug == 'writing' || layout == 'layouts/writing'
        each writing in collections.writings
            link(rel="preload" as="fetch" type="text/html" href=writing.url)
    body
        header
            nav
                each page in nav
                    a(href=page.url)= page.name
            hr
        - const _layout = layout.endsWith("base") ? page.fileSlug : layout
        div
            div(data-page=_layout) 
                main !{content}
                footer