mixin card(work)
    - const ani = ``
    li.card
        div
            h3= work.titel
            a(href=work.iframe.src target="_blank") full demo
            br
            a(href=work.repo target="_blank") repo
            hr(style="margin-top:0.25em")
            p= work.description
        div
            iframe(onload="event.target.style.display='block'" src=work.iframe.src, style=`display:none;max-width:${work.iframe.width};transition:opacity 1125ms` width="100%" height=work.iframe.height class="drop-shadow" frameBorder="0") 