mixin card(work)
    - const ani = ``
    li.card(data-work-tags=`${work.tags.join(',')}`)
        div
            div(style="margin-bottom:1em")
                h3= work.titel
                if work.tags
                    ul.tags
                        each tag in work.tags
                            li=tag
            a(href=work.iframe.src target="_blank" style="height:2.5ex;display:inline-block") full demo
            br(style="margin-bottom:0.25em")
            a(href=work.repo target="_blank" style="width:max-content;overflow:hidden;display:flex;gap:0.5em")
                span repo
                span(style="height:2.5ex;padding:0.0625em")
                    include ../../assets/svg/octocat.svg
            hr(style="margin-top:0.25em")
            p !{work.description}
        div
            iframe(onload="event.target.style.display='block'" src=work.iframe.src, style=`display:none;max-width:${work.iframe.width};transition:opacity 1125ms` width="100%" height=work.iframe.height class="drop-shadow" frameBorder="0") 